@using PetCenter.Referencias.Presentacion.Web.Resources
@using PetCenter.Referencias.Presentacion.Web.Helpers.Html
@model PetCenter.Referencias.Presentacion.Web.Models.Registros.ContraReferencia.ContraReferenciaEditorModelo

<fieldset class="fieldset-filter">
    <legend class="text-muted h5">Resumen de Historia Clínica</legend>

    <div class="form-group asistencia-group">
        <div class="asistencia-group">
            @Html.Label("Fecha Ingreso: ", new { @class = "col-sm-2 control-label form-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.ContraReferencia.FechaEntrega, Model.ContraReferencia.FechaEntrega.Value.ToString(Formatos.FechaCorta), new { @class = "form-control asistencia-fecha-corta", @required = "", @placerholder = "Fecha Ingreso" })
            </div>
        </div>

        <div class="asistencia-group">
            @Html.Label("Fecha Salida: ", new { @class = "col-sm-2 control-label form-label" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.ContraReferencia.FechaCierre, Model.ContraReferencia.FechaCierre.Value.ToString(Formatos.FechaCorta), new { @class = "form-control asistencia-fecha-corta", @required = "", @placerholder = "Fecha Salida" })
            </div>
        </div>
    </div>

    <div class="form-group asistencia-group">
        <div class="asistencia-group">
            @Html.Label("Diagnóstico de Ingreso: ", new { @class = "col-sm-2 control-label form-label" })
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Referencia.Diagnostico, new { @class = "form-control asistencia-requerido", @placeholder = "Diagnóstico de Ingreso", @disabled = "" })
            </div>
        </div>
    </div>

    <div class="form-group asistencia-group">
        <div class="asistencia-group">
            @Html.Label("Diagnóstico de Egreso: ", new { @class = "col-sm-2 control-label form-label" })
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.ContraReferencia.Observaciones, new { @class = "form-control asistencia-requerido", @placeholder = "Diagnóstico de Egreso", @required = "", @maxlength = "250" })
            </div>
        </div>
    </div>

    <div class="form-group asistencia-group">
        <div class="asistencia-group">
            @Html.Label("Recomendaciones: ", new { @class = "col-sm-2 control-label form-label" })
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.ContraReferencia.Resultados, new { @class = "form-control asistencia-requerido", @placeholder = "Recomendaciones e Indicaciones", @required = "", @maxlength = "250" })
            </div>
        </div>
    </div>

    <div class="form-group asistencia-group">
        <div class="asistencia-group">
            @Html.Label("Veterinario: ", new { @class = "col-sm-2 control-label form-label text-left" })
            <div class="col-sm-4">
                @{
                    var Veterinarios = new SelectList(@ViewBag.Veterinarios, "IdVeterinario", "NomVeterinario");
                }
                @Html.DropDownListFor(m => m.ContraReferencia.IdVeterinario, Veterinarios, "Seleccione", new { @class = "form-control", @required = "" })
            </div>

        </div>
    </div>
</fieldset>

<br />
<div class="asistencia-group">
    <div class="col-sm-12 text-center">
        <button type="submit" id="Guardar" class="btn btn-primary">@Botones.BtnGuardar</button>
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "ContraReferencia")'">@Botones.BtnSalir</button>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

    });
</script>
