@using PetCenter.Referencias.Presentacion.Web.Resources
@using PetCenter.Referencias.Presentacion.Web.Helpers.Html
@model PetCenter.Referencias.Presentacion.Web.Models.Registros.Evaluacion.EvaluacionPaginadoModelo
@{
    var grid = new WebGrid
    (
        rowsPerPage: Model.Grid.TamanioPagina,
        canSort: Model.Grid.TotalPagina > 0
    );
    grid.Bind(Model.Grid.ElementosPagina, autoSortAndPage: false, rowCount: Model.Grid.TotalPagina);
}
<fieldset>

    <div class="asistencia-right asistencia-point">

    </div>

    @grid.Table(
                    fillEmptyRows: false,
                    headerStyle: "asistencia-head",
                    tableStyle: "table table-striped table-bordered table-condensed asistencia-table-grid",
                    columns: new[]
                    {
                            grid.Column("NroSolicitudFormato", "Nro Solicitud", style:"asistencia-column-center"),
                            grid.Column("FechaSolicitud", "Fecha Solicitud", format: p=> p.FechaSolicitud.ToShortDateString()),
                            grid.Column("NroRuc", "RUC", style:"asistencia-column-left"),
                            grid.Column("RazonSocial", "Razón Social Clínica", style:"asistencia-column-left"),
                            grid.Column("NombreRep", "Representante Legal", style:"asistencia-column-left"),
                            grid.Column("DesEstado", "Estado", style:"asistencia-column-left"),
                            grid.Column("", "Opciones",@<text>
        <a class="icon-Asistencia16-acc-view" title="Ver" href="@Url.Action("Ver","Evaluacion",new{idSolicitud=item.NroSolicitud})" />
        @*<a class="icon-Asistencia16-acc-edit" title="Modificar" href="@Url.Action("Editar","Evaluacion",new{idSolicitud=item.NroSolicitud})" />*@
        @*<a class="icon-Asistencia16-acc-delete" title="Eliminar" onclick="areajs.eliminar('@Url.Action("Eliminar", "Area",new {CodCia = item.CodCia, CodArea=item.CodArea })')" />*@
                            </text>)
                })
    <div class="text-center">
        @grid.PagerList(mode: WebGridPagerModes.All)
    </div>

</fieldset>