
@using PetCenter.Referencias.Presentacion.Web.Resources
@using PetCenter.Referencias.Presentacion.Web.Helpers.Html

@model PetCenter.Referencias.Presentacion.Web.Models.Registros.Evaluacion.EvaluacionPaginadoModelo
@{
    ViewBag.TituloMenu = "Evaluar Solicitud Convenio";
    Layout = "~/Views/Comun/Inicio/_Estructura.cshtml";
}

@using (Html.BeginSecureForm("Index", "Evaluacion", FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "formEvaluacion" }))
{

    //Mensajes
    @Html.Partial("_Mensajes", Model)

    <fieldset class="fieldset-filter">
        <legend class="text-muted h5">Búsqueda</legend>
        <div class="asistencia-left asistencia-point">

            <div class="form-group asistencia-group">
                @Html.Label("Nro de Ruc: ", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Filtro.Solicitud.NroRUC, new { @class = "form-control", @maxlength = 11 })
                </div>
                @Html.Label("Razón Social: ", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Filtro.Solicitud.RazonSocial, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group asistencia-group">
                @Html.Label("Fecha Inicio: ", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    @Html.TextBoxFor(m => m.Filtro.Solicitud.FechaSolicitudInicio,
                       Model.Filtro.Solicitud.FechaSolicitudInicio == null ? string.Empty : Model.Filtro.Solicitud.FechaSolicitudInicio.ToString(Formatos.FechaCorta)
                       , new { @class = "form-control asistencia-fecha-corta", @required = "" })
                </div>
                @Html.Label("Fecha Fin: ", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Filtro.Solicitud.FechaSolicitudHasta,
                       Model.Filtro.Solicitud.FechaSolicitudHasta == null ? string.Empty : Model.Filtro.Solicitud.FechaSolicitudHasta.ToString(Formatos.FechaCorta)
                       , new { @class = "form-control asistencia-fecha-corta", @required = "" })
                </div>
            </div>

        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary buscar">@Botones.BtnBuscar</button>
            <button type="button" class="btn btn-primary" onclick="helperjs.setGetUrl('@Url.Action("Index", "Evaluacion")');">@Botones.BtnLimpiar</button>
            <button type="button" class="btn btn-primary" onclick="helperjs.setGetUrl('@Url.Action("Index", "Inicio")');">@Botones.BtnSalir</button>
        </div>
    </div>

    //Resultado paginado
    <div class="table-responsive">
        @Html.Partial("_Grid")
    </div>
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        evaluacionjs.validacionBuscar();
        evaluacionjs.validarFiltros();
    });
</script>
